<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DBCONN" connectionString="Data Source=47.104.91.218;Initial Catalog=JC_WMS;User ID=sa;Pwd=sa@jc@123;Connection Timeout=15" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  <appSettings>
    <!--执行间隔-->
    <add key="SyncInterval" value="30"/>
  </appSettings>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
